.codehilite .hll { background-color: #ffffcc }
.codehilite  { background: #eee; }
.codehilite .c { color: #408080; font-style: italic } /* Comment */
.codehilite .err { border: 1px solid #FF0000 } /* Error */
.codehilite .k { color: #008000; font-weight: bold } /* Keyword */
.codehilite .o { color: #666666 } /* Operator */
.codehilite .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.codehilite .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.codehilite .cp { color: #BC7A00 } /* Comment.Preproc */
.codehilite .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.codehilite .c1 { color: #408080; font-style: italic } /* Comment.Single */
.codehilite .cs { color: #408080; font-style: italic } /* Comment.Special */
.codehilite .gd { color: #A00000 } /* Generic.Deleted */
.codehilite .ge { font-style: italic } /* Generic.Emph */
.codehilite .gr { color: #FF0000 } /* Generic.Error */
.codehilite .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.codehilite .gi { color: #00A000 } /* Generic.Inserted */
.codehilite .go { color: #888888 } /* Generic.Output */
.codehilite .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.codehilite .gt { color: #0044DD } /* Generic.Traceback */
.codehilite .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.codehilite .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.codehilite .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.codehilite .kp { color: #008000 } /* Keyword.Pseudo */
.codehilite .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.codehilite .kt { color: #B00040 } /* Keyword.Type */
.codehilite .m { color: #666666 } /* Literal.Number */
.codehilite .s { color: #BA2121 } /* Literal.String */
.codehilite .na { color: #7D9029 } /* Name.Attribute */
.codehilite .nb { color: #008000 } /* Name.Builtin */
.codehilite .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.codehilite .no { color: #880000 } /* Name.Constant */
.codehilite .nd { color: #AA22FF } /* Name.Decorator */
.codehilite .ni { color: #999999; font-weight: bold } /* Name.Entity */
.codehilite .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.codehilite .nf { color: #0000FF } /* Name.Function */
.codehilite .nl { color: #A0A000 } /* Name.Label */
.codehilite .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.codehilite .nt { color: #008000; font-weight: bold } /* Name.Tag */
.codehilite .nv { color: #19177C } /* Name.Variable */
.codehilite .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.codehilite .w { color: #bbbbbb } /* Text.Whitespace */
.codehilite .mb { color: #666666 } /* Literal.Number.Bin */
.codehilite .mf { color: #666666 } /* Literal.Number.Float */
.codehilite .mh { color: #666666 } /* Literal.Number.Hex */
.codehilite .mi { color: #666666 } /* Literal.Number.Integer */
.codehilite .mo { color: #666666 } /* Literal.Number.Oct */
.codehilite .sa { color: #BA2121 } /* Literal.String.Affix */
.codehilite .sb { color: #BA2121 } /* Literal.String.Backtick */
.codehilite .sc { color: #BA2121 } /* Literal.String.Char */
.codehilite .dl { color: #BA2121 } /* Literal.String.Delimiter */
.codehilite .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.codehilite .s2 { color: #BA2121 } /* Literal.String.Double */
.codehilite .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.codehilite .sh { color: #BA2121 } /* Literal.String.Heredoc */
.codehilite .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.codehilite .sx { color: #008000 } /* Literal.String.Other */
.codehilite .sr { color: #BB6688 } /* Literal.String.Regex */
.codehilite .s1 { color: #BA2121 } /* Literal.String.Single */
.codehilite .ss { color: #19177C } /* Literal.String.Symbol */
.codehilite .bp { color: #008000 } /* Name.Builtin.Pseudo */
.codehilite .fm { color: #0000FF } /* Name.Function.Magic */
.codehilite .vc { color: #19177C } /* Name.Variable.Class */
.codehilite .vg { color: #19177C } /* Name.Variable.Global */
.codehilite .vi { color: #19177C } /* Name.Variable.Instance */
.codehilite .vm { color: #19177C } /* Name.Variable.Magic */
.codehilite .il { color: #666666 } /* Literal.Number.Integer.Long */


/* .codehilite .hll { background-color: #49483e } */
/* .codehilite  { background: #272822; color: #f8f8f2 } */
/* .codehilite .c { color: #75715e } /* Comment */ */
/* .codehilite .err { color: #960050; background-color: #1e0010 } /* Error */ */
/* .codehilite .k { color: #66d9ef } /* Keyword */ */
/* .codehilite .l { color: #ae81ff } /* Literal */ */
/* .codehilite .n { color: #f8f8f2 } /* Name */ */
/* .codehilite .o { color: #f92672 } /* Operator */ */
/* .codehilite .p { color: #f8f8f2 } /* Punctuation */ */
/* .codehilite .ch { color: #75715e } /* Comment.Hashbang */ */
/* .codehilite .cm { color: #75715e } /* Comment.Multiline */ */
/* .codehilite .cp { color: #75715e } /* Comment.Preproc */ */
/* .codehilite .cpf { color: #75715e } /* Comment.PreprocFile */ */
/* .codehilite .c1 { color: #75715e } /* Comment.Single */ */
/* .codehilite .cs { color: #75715e } /* Comment.Special */ */
/* .codehilite .gd { color: #f92672 } /* Generic.Deleted */ */
/* .codehilite .ge { font-style: italic } /* Generic.Emph */ */
/* .codehilite .gi { color: #a6e22e } /* Generic.Inserted */ */
/* .codehilite .gs { font-weight: bold } /* Generic.Strong */ */
/* .codehilite .gu { color: #75715e } /* Generic.Subheading */ */
/* .codehilite .kc { color: #66d9ef } /* Keyword.Constant */ */
/* .codehilite .kd { color: #66d9ef } /* Keyword.Declaration */ */
/* .codehilite .kn { color: #f92672 } /* Keyword.Namespace */ */
/* .codehilite .kp { color: #66d9ef } /* Keyword.Pseudo */ */
/* .codehilite .kr { color: #66d9ef } /* Keyword.Reserved */ */
/* .codehilite .kt { color: #66d9ef } /* Keyword.Type */ */
/* .codehilite .ld { color: #e6db74 } /* Literal.Date */ */
/* .codehilite .m { color: #ae81ff } /* Literal.Number */ */
/* .codehilite .s { color: #e6db74 } /* Literal.String */ */
/* .codehilite .na { color: #a6e22e } /* Name.Attribute */ */
/* .codehilite .nb { color: #f8f8f2 } /* Name.Builtin */ */
/* .codehilite .nc { color: #a6e22e } /* Name.Class */ */
/* .codehilite .no { color: #66d9ef } /* Name.Constant */ */
/* .codehilite .nd { color: #a6e22e } /* Name.Decorator */ */
/* .codehilite .ni { color: #f8f8f2 } /* Name.Entity */ */
/* .codehilite .ne { color: #a6e22e } /* Name.Exception */ */
/* .codehilite .nf { color: #a6e22e } /* Name.Function */ */
/* .codehilite .nl { color: #f8f8f2 } /* Name.Label */ */
/* .codehilite .nn { color: #f8f8f2 } /* Name.Namespace */ */
/* .codehilite .nx { color: #a6e22e } /* Name.Other */ */
/* .codehilite .py { color: #f8f8f2 } /* Name.Property */ */
/* .codehilite .nt { color: #f92672 } /* Name.Tag */ */
/* .codehilite .nv { color: #f8f8f2 } /* Name.Variable */ */
/* .codehilite .ow { color: #f92672 } /* Operator.Word */ */
/* .codehilite .w { color: #f8f8f2 } /* Text.Whitespace */ */
/* .codehilite .mb { color: #ae81ff } /* Literal.Number.Bin */ */
/* .codehilite .mf { color: #ae81ff } /* Literal.Number.Float */ */
/* .codehilite .mh { color: #ae81ff } /* Literal.Number.Hex */ */
/* .codehilite .mi { color: #ae81ff } /* Literal.Number.Integer */ */
/* .codehilite .mo { color: #ae81ff } /* Literal.Number.Oct */ */
/* .codehilite .sa { color: #e6db74 } /* Literal.String.Affix */ */
/* .codehilite .sb { color: #e6db74 } /* Literal.String.Backtick */ */
/* .codehilite .sc { color: #e6db74 } /* Literal.String.Char */ */
/* .codehilite .dl { color: #e6db74 } /* Literal.String.Delimiter */ */
/* .codehilite .sd { color: #e6db74 } /* Literal.String.Doc */ */
/* .codehilite .s2 { color: #e6db74 } /* Literal.String.Double */ */
/* .codehilite .se { color: #ae81ff } /* Literal.String.Escape */ */
/* .codehilite .sh { color: #e6db74 } /* Literal.String.Heredoc */ */
/* .codehilite .si { color: #e6db74 } /* Literal.String.Interpol */ */
/* .codehilite .sx { color: #e6db74 } /* Literal.String.Other */ */
/* .codehilite .sr { color: #e6db74 } /* Literal.String.Regex */ */
/* .codehilite .s1 { color: #e6db74 } /* Literal.String.Single */ */
/* .codehilite .ss { color: #e6db74 } /* Literal.String.Symbol */ */
/* .codehilite .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */ */
/* .codehilite .fm { color: #a6e22e } /* Name.Function.Magic */ */
/* .codehilite .vc { color: #f8f8f2 } /* Name.Variable.Class */ */
/* .codehilite .vg { color: #f8f8f2 } /* Name.Variable.Global */ */
/* .codehilite .vi { color: #f8f8f2 } /* Name.Variable.Instance */ */
/* .codehilite .vm { color: #f8f8f2 } /* Name.Variable.Magic */ */
/* .codehilite .il { color: #ae81ff } /* Literal.Number.Integer.Long */ */
